body {
    padding-top: 5rem;
}

.grid-container{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

.grid-item{
    padding: 8px;
    text-align: center;
    flex: 1 1 33%;

}

img{
    height: 220px;
    width: 350px;
    border: solid .5px lightgrey;
}
